<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <h1><%= Settings.booking.brand %></h1>
      <div class="row" id="tour">
        <%= render "booking" %>
      </div>
      <br>
    </div>
  </div>
</div>
