footer {
  width: 100%;
  background: #e8e8e8;
  padding: 20px 0 10px;
  margin-top: 40px;
}

.logo-footer img{
  height: 50px;
}

.ta-center{
  text-align: center;
}

.social{
  display: flex;
  flex-direction: row;
}

.fa-facebook{
  color: #385898;;
}

.fa-google-plus{
  color: #DB4437;
}

.fa-twitter-square{
  color: #1DA1F2;
}

.categories-ft ul{
  padding: 0;
}

.categories-ft ul li{
  list-style-type: none;
  line-height: 40px;
}

footer a{
  color: black;
}

.mr-20{
  margin-right: 20px;
}
