.carousel-tours{
  margin-top: 20px;
}

/*.carousel-image{
  height: 450px;
  overflow: hidden;
}

.carousel-image img{
  width: auto;
  max-height: 450px;
}*/

#featured-tours{
  /*background-color: red;*/
  margin-top: 20px;
}

.featured-tours-box{
  overflow: hidden;
  height: 315px;
  border: 2px solid #e8e8e8;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.other-tours-box{
  overflow: hidden;
  height: 250px;
  border: 2px solid #e8e8e8;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.tour-name{
  margin-top: 10px;
}

.other-tours-box img{
  width: 100%;
  max-height: 110px;
}

.featured-tours-box img{
  width: 100%;
  max-height: 186px;
}

.title-featured-tours{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#tours-regular{
  /*background-color: red;*/
  margin-top: 20px;
}

.icon-rating-tour{
  color: yellow !important;
}

.booking-price{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn.btn-primary{
  color: #fff;
}
