.carousel-tours{
  margin-top: 20px;
}

.body{
  margin-top: 40px;
}

#featured-tours{
  margin-top: 20px;
}

.featured-tours-box{
  overflow: hidden;
  height: 315px;
  border: 2px solid #e8e8e8;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.other-tours-box{
  overflow: hidden;
  height: 250px;
  border: 2px solid #e8e8e8;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.tour-name{
  margin-top: 10px;
}

.other-tours-box img{
  width: 100%;
  max-height: 110px;
}

.featured-tours-box img{
  width: 100%;
  max-height: 186px;
}

.title-featured-tours{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#tours-regular{
  margin-top: 20px;
}

.icon-rating-tour{
  color: yellow !important;
}

.booking-price{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn.btn-primary{
  color: #fff;
}

footer {
  width: 100%;
  background: #e8e8e8;
  padding: 20px 0 10px;
  margin-top: 40px;
}

.logo-footer img{
  height: 50px;
}

.ta-center{
  text-align: center;
}

.social{
  display: flex;
  flex-direction: row;
}

.fa-facebook{
  color: #385898;;
}

.fa-google-plus{
  color: #DB4437;
}

.fa-twitter-square{
  color: #1DA1F2;
}

.categories-ft ul{
  padding: 0;
}

.categories-ft ul li{
  list-style-type: none;
  line-height: 40px;
}

footer a{
  color: black;
}

.mr-20{
  margin-right: 20px;
}

.login-form{
  width: 300px;
  min-height: 400px;
  margin: auto;
  border: 1px solid yellow;
  background-color: #fff;
}

.login-form h2{
  text-align: center;
}

.card {
  border: none;
  border-top: 5px solid rgb(176, 106, 252);
  background: #212042;
  color: #57557A
}

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #2A284D;
  height: 40px;
  width: 90px
}

.fab:hover {
  cursor: pointer
}

.fa-twitter {
  color: #56ABEC
}

.fa-facebook {
  color: #1775F1
}

.fa-google {
  color: #CB5048
}

.division {
  float: none;
  position: relative;
  margin: 30px auto 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box
}

.division .line {
  border-top: 1.5px solid #57557A;
  ;
  position: absolute;
  top: 13px;
  width: 85%
}

.line.l {
  left: 52px
}

.line.r {
  right: 45px
}

.division span {
  font-weight: 600;
  font-size: 14px
}

.new_user {
  padding: 0 25px 0 33px
}

.form-user {
  border: 1px solid #57557A;
  border-radius: 3px;
  background: #212042;
  margin-bottom: 20px;
  letter-spacing: 1px
}

.form-user:focus {
  border: 1px solid #57557A;
  border-radius: 3px;
  box-shadow: none;
  background: #212042;
  color: #fff;
  letter-spacing: 1px
}

.bn {
  text-decoration: underline
}

.bn:hover {
  cursor: pointer
}

.form-check-input {
  margin-top: 8px !important
}

.btn-user {
  background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
  border: none;
  border-radius: 50px;
  width: 100%;
}

.btn-user:focus {
  box-shadow: none;
  border: none
}

small {
  color: #F2CEFF
}

.far.fa-user {
  font-size: 13px
}

@media(min-width: 767px) {
  .bn {
      text-align: right
  }
}

@media(max-width: 767px) {
  .form-check {
      text-align: center
  }

  .bn {
      text-align: center;
      align-items: center
  }
}

@media(max-width: 450px) {
  .fab {
      width: 100%;
      height: 100%
  }

  .division .line {
      width: 50%
  }
}

.form-tour{
  float: right;
  width: 1000px !important;
}

.quantity{
  display: flex;
  justify-content: flex-start;
}

.item-quantity{
  margin-left:  10px;
}

.booking-tours-now a{
  color: #fff;
}
