.carousel-tours{
  margin-top: 20px;
}

#featured-tours{
  margin-top: 20px;
}

.featured-tours-box{
  overflow: hidden;
  height: 315px;
  border: 2px solid #e8e8e8;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.featured-tours-box a{
  text-decoration: none;
  color: black !important;
}

.other-tours-box{
  overflow: hidden;
  height: 250px;
  border: 2px solid #e8e8e8;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.tour-name{
  margin-top: 10px;
}

.other-tours-box img{
  width: 100%;
  max-height: 110px;
}

.featured-tours-box img{
  width: 100%;
  max-height: 186px;
}

.title-featured-tours{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#tours-regular{
  margin-top: 20px;
}

.icon-rating-tour{
  color: yellow !important;
}

.booking-price{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn.btn-primary{
  color: #fff;
}

footer {
  width: 100%;
  background: #e8e8e8;
  padding: 20px 0 10px;
  margin-top: 40px;
}

.logo-footer img{
  height: 50px;
}

.ta-center{
  text-align: center;
}

.social{
  display: flex;
  flex-direction: row;
}

.fa-facebook{
  color: #385898;;
}

.fa-google-plus{
  color: #DB4437;
}

.fa-twitter-square{
  color: #1DA1F2;
}

.categories-ft ul{
  padding: 0;
}

.categories-ft ul li{
  list-style-type: none;
  line-height: 40px;
}

footer a{
  color: black;
}

.mr-20{
  margin-right: 20px;
}

.login-form{
  width: 300px;
  min-height: 400px;
  margin: auto;
  border: 1px solid yellow;
  background-color: #fff;
}

.login-form h2{
  text-align: center;
}
/*
.card {
  border: none;
  border-top: 5px solid rgb(176, 106, 252);
  background: #212042;
  color: #57557A
}*/

/*.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #2A284D;
  height: 40px;
  width: 90px
}*/

.fab:hover {
  cursor: pointer
}

.fa-twitter {
  color: #56ABEC
}

.fa-facebook {
  color: #1775F1
}

.fa-google {
  color: #CB5048
}

.division {
  float: none;
  position: relative;
  margin: 30px auto 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box
}

.division .line {
  border-top: 1.5px solid #57557A;
  ;
  position: absolute;
  top: 13px;
  width: 20%
}

.line.l {
  left: 52px
}

.line.r {
  right: 45px
}

.division span {
  font-weight: 600;
  font-size: 14px
}

.new_user {
  padding: 0 25px 0 33px
}

.form-user {
  border: 1px solid #57557A;
  border-radius: 3px;
  background: #212042;
  margin-bottom: 20px;
  letter-spacing: 1px
}

.form-user:focus {
  border: 1px solid #57557A;
  border-radius: 3px;
  box-shadow: none;
  background: #212042;
  color: #fff;
  letter-spacing: 1px
}

.bn {
  text-decoration: underline
}

.bn:hover {
  cursor: pointer
}

.form-check-input {
  margin-top: 8px !important
}

.btn-user {
  background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
  border: none;
  border-radius: 50px;
  width: 100%;
}

.btn-user:focus {
  box-shadow: none;
  border: none
}

small {
  color: #F2CEFF
}

.far.fa-user {
  font-size: 13px
}

@media(min-width: 767px) {
  .bn {
      text-align: right
  }
}

@media(max-width: 767px) {
  .form-check {
      text-align: center
  }

  .bn {
      text-align: center;
      align-items: center
  }
}

@media(max-width: 450px) {
  .fab {
      width: 100%;
      height: 100%
  }

  .division .line {
      width: 50%
  }
}

.form-tour{
  float: right;
  width: 1000px !important;
}

.quantity{
  display: flex;
  justify-content: flex-start;
}

.item-quantity{
  margin-left:  10px;
}

.alert-success{
  z-index: 9999;
}

.booking-tours-now a{
  color: #fff;
}

.rounded{
  width: 100%;
}

.info-right{
  margin-top: 132px;
}

.required:after {
  content:" *";
  color: red;
}

.search_tour{
  margin-right: 40px !important;
  margin-top: 5px;
}

.rounded-circle img{
  width: 65px;
  height: 65px;
}

.nav-pills a{
  color: #fff;
  text-decoration: none;
}

.main-sidebar{
  width: 20%;
  background-color: #343a40;
  height: 680px;
}

.brand-text {
  color: #fff;
}

.nav-pills li{
  margin-top: 15px;
}

.translation_missing{
  margin-left: 15px;
}

.fa-tachometer-alt{
  margin-left: 48px;
}

.main-admin{
  display: flex;
  flex-direction: row
}

.table-bordered{
  width: 1000px;
}

.navbar-text a{
  text-decoration: none;
}

.featured-tours-box{
  transition: transform .5s;
  box-shadow: 4px 4px #AAA;
}

.card-body a{
  text-decoration: none;
}

#paginator{
  margin-top: 10px;
}

.featured-tours-box:hover{
  transform: scale(1.08);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif
}

.green {
    color: green
}

.orange {
    color: orange;
}
.booking-all{
  width: 1000px;
}

.mrt-20{
  margin-top: 1px;
}

.w-100{
  margin-bottom: 40px;
}

.topnav {
  background-color: #ffff;
  overflow: hidden
}

.far.fa-user-circle {
    font-size: 29px;
    color: #726f6f;
    padding-top: 10px
}

.topnav a {
    float: left;
    display: block;
    color: #8d8b8b;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent
}

.topnav a:hover {
    color: black;
    border-bottom: 3px solid red
}

.topnav .active {
    color: black;
    border-bottom: 3px solid red
}



.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
    border: none
}

::placeholder {
    font-size: 10px
}

#navbar {
    width: 100%;
    background-color: #21214e !important;
    height: 50px;
    border: none
}

.bg-blight {
    color: #7f7fee;
    font-weight: 600
}

.bg-bdark {
    color: #4c4c96;
    font-weight: 600
}

#navbar a {
  color: white
}

.fas.fa-bars {
  color: white
}

#navbar2 {
  width: 80%
}

#navbar-items {
  width: 100%;
  height: 500px;
  background-color: #4f4f8a;
  color: #b6b5b5;
}

#navbar-items a{
  color: #b6b5b5;
  text-decoration: none;
}


ul#navbar-items li {
  color: #b6b5b5;
  padding: 15px 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
  align-items: center
}

ul li .fas {
  font-size: 16px
}

ul#navbar-items li:hover {
  background-color: #21214e;
  color: white
}

ul li:hover .fas {
  color: #f7910c
}

#topnavbar {
  width: 80%
}

.fs13 {
  font-size: 13px
}

.fs14 {
    font-size: 18px;
    color: white
}

.fas.fa-times {
    color: red
}

.fas.fa-check {
    color: greenyellow
}

.example {
    width: 50%
}

@media(max-width:780px) {
    #navbar {
        width: 20%
    }

    #topnavbar {
        width: 80%
    }

    .text-decoration-none.fs14 {
        font-size: 10px
    }

    .text-decoration-none .fs13 {
        font-size: 9px
    }
}

@media(max-width:430px) {

    #navbar-items,
    #topnavbar {
        width: 100%;
        height: 100%
    }

    #navbar-items {
        padding: 20px;
        margin-bottom: 30px
    }

    .topnav a {
        font-size: 12px;
        padding: 12px
    }

    #navbar {
        width: 100%;
        background-color: blue
    }

    .example {
        width: 100%
    }

    .text-decoration-none.fs14 {
        font-size: 14px
    }

    .text-decoration-none .fs13 {
        font-size: 13px
    }
}

@media(max-width:376px) {
    #navbar-items {
        padding: 20px;
        margin-bottom: 30px
    }

    .topnav a {
        font-size: 12px;
        padding: 7px
    }
}

@media(max-width:320px) {
    .topnav a {
        font-size: 10px;
        padding: 4px
    }
}

.bbb{
  margin-left: -5px !important;
}

.dashboard{
  width: 230px;
  height: 670px;
  background-color: #4f4f8a !important;
}

.main-admin{
  background-color: #B3E5FC;
}

.card-booking {
  margin: auto;
    background-image: radial-gradient(circle, #98e78f, #93e9a0, #90ebb0, #90ecbe, #94edcb, #96f0de, #9ff1ed, #aef2f8, #c7f4ff, #e1f5ff, #f4f9ff, #ffffff)
}

.klod {
    font-size: 14px;
    color: #31b399;
    font-weight: 600
}

.data {
    color: #09093d;
    font-size: 40px;
    font-weight: 650
}

.about {
    font-size: 15px;
    color: red;
}

.btn1 {
    height: 40px;
    width: 150px;
    transition: all 0.3s
}

.btn1 a{
  color: #fff;
  text-decoration: none;
}

.btn1-dark:hover {
    background-color: #0a2d27;
    color: #fff;
    border-color: #0a2d27
}

.company {
    font-weight: 600;
    font-size: 14px;
    color: #000
}

.text2 {
    font-size: 18px;
    color: #5d605c;
    font-weight: 600
}

.name {
    font-size: 14px;
    font-weight: 500
}

.datasecure {
    font-size: 16px;
    font-weight: 500;
    color: #20ad93
}
